---
import Container from './Container.astro';
import Logo from './Logo.astro';
import SocialList from './SocialList.astro';
---

<header>
  <Container>
    <nav>
      <a class="header__logo" href="/" title="Navigate Home">
        <Logo />
      </a>
      <div class="nav__right">
        <SocialList />
        <div class="theme-toggle__container">
          <theme-toggle-button></theme-toggle-button>
        </div>
      </div>
    </nav>
  </Container>
</header>

<style>
  @font-face {
    font-family: 'Arial Custom';
    src: url('/fonts/ARIAL.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Arial Custom';
    src: url('/fonts/ARIALBD.TTF') format('truetype');
    font-weight: bold;
    font-style: normal;
  }

  header {
    height: var(--theme-header-height, 64px);
    border-bottom: 1px solid var(--theme-primary-light);
  }

  nav {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: 'Arial Custom', Arial, sans-serif;
    font-weight: bold;
  }

  .header__logo :global(svg) {
    height: 100%;
    max-height: 40px; /* Adjust this value as needed */
    width: auto;
  }

  .nav__right {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .theme-toggle__container {
    margin-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>